<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body class="bg-light">
  <%- include('partials/navbar') %>
  <div class="container py-5">
    <h1 class="mb-4 text-center">Find Out the Weather</h1>
    <form action="/" method="post" class="form-inline justify-content-center mb-4">
      <input type="text" name="city" class="form-control form-control-lg mr-2" placeholder="Enter a city" required>
      <button type="submit" class="btn btn-primary">Get Weather</button>
    </form>
    <% if (weather) { %>
        <div class="d-flex justify-content-between align-items-center" style="background-color: white;">
            <div class="m-2">
              <h2>Weather in <%= weather.city %>:</h2>
              <p>Temperature: <%= weather.temperature %>°C</p>
              <p>Description: <%= weather.description %></p>
              <p>Sunrise: <%= weather.sunrise %></p>
              <p>Sunset: <%= weather.sunset %></p>
            </div>
            <div>
              <img src="<%= weather.icon %>" alt="Weather icon" style="max-height: 100px;">
            </div>
          </div>
          <div class="mt-4">
            <iframe
              width="100%"
              height="450"
              style="border:0"
              loading="lazy"
              allowfullscreen
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBv8jYisbab9WS0Ufw4Lc_bEn_7PdPQDXA&q=<%= weather.city %>">
            </iframe>
          </div>
         
    </div>
    
    <% } else if (error) { %>
      <div class="alert alert-danger"><%= error %></div>
    <% } %>
    </div>

  <%- include('partials/footer') %>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=${process.env.}&callback=initMap"></script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
