<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <title>Weather History</title>
  <style>
    .weather-icon {
      max-height: 100px;
    }
    
    .align-vertical {
      display: flex;
      align-items: center;
    }
  </style>
</head>
<body class="bg-light">
    <%- include('partials/navbar') %>
  <div class="container py-5">
    <h2 class="mb-4">Weather History</h2>
    <% if (weatherData && weatherData.length > 0) { %>
      <div class="list-group">
        <% weatherData.forEach(function(report) { %>
            <div class="list-group-item mt-2 mb-2">
                <div class="d-flex w-100 justify-content-between align-vertical">
                    <div>
                      <h5 class="mb-1">City: <%= report.city %></h5>
                      <p class="mb-1">Temperature: <%= report.temperature %>°C</p>
                      <p class="mb-1">Description: <%= report.description %></p>
                      <p class="mb-1">Sunrise: <%= report.sunrise %></p>
                      <p class="mb-1">Sunset: <%= report.sunset %></p>
                      <small>Date: <%= new Date(report.date).toLocaleDateString() %></small>
                    </div>
                    <div>
                      <img src="<%= report.icon %>" alt="Weather Icon" class="weather-icon">
                    </div>
                </div>
            </div>
        <% }); %>
      </div>
    <% } else { %>
      <div class="alert alert-warning">No weather history available.</div>
    <% } %>
    <% if (error) { %>
      <div class="alert alert-danger"><%= error %></div>
    <% } %>
  </div>
  <%- include('partials/footer') %>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
